@model IEnumerable<tblUsers>
<div class="card-body">
    <div id="v-card" class="row justify-content-center" style="margin-top: 44px;">
        <div class="col-md-10 ">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>User Name</th>
                        <th style="text-align:center">College</th>
                        <th style="text-align:center">Role</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    @{ var i = 1;
                        foreach (var item in Model)
                        {

                            <tr>
                                <td>@i </td>
                                <td>@item.Name</td>
                                @if (@item.CollegeId == null)
                                {
                                    <td align="center"><p>-</p></td>
                                }
                                else
                                {
                                    <td align="center">@item.College.CollegeName</td>
                                }
                                <td align="center">@item.Role.RoleName</td>

                                @if (User.IsInRole("Admin") && item.Role.Id == 1)
                                {
                                    <td> </td>

                                }
                                else
                                {
                                    <td>

                                        @if (item.IsActive == true)
                                        {
                                            <a asp-controller="Admin" asp-action="DeactivateUser" asp-route-id="@item.GuId" class="btn btn-outline-success">Deactivate </a>
                                        }
                                        else
                                        {
                                            <a asp-controller="Admin" asp-action="AdminActivate" asp-route-id="@item.GuId" class="btn btn-outline-danger">Activate </a>
                                        }
                                        @if (item.IsGraduate == false)
                                        {
                                            <a asp-controller="Admin" asp-action="DeleteAccount" asp-route-id="@item.GuId" class="btn btn-outline-danger">Delete </a>
                                        }
                                        else
                                        {
                                            <p>Deleted</p>
                                        }
                                    <a asp-controller="Admin" asp-action="ModifyUserInfo" asp-route-id="@item.GuId" class="btn btn-outline-info">Modify</a></td>
                                }
                            </tr>
                            i++;
                        } }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
@{
    if (@ViewData["Successful"] != null)
    {
        <Text>
        var result = '@Html.Raw(ViewData["Successful"])';
        Swal.fire(result,'','success')

        </Text>
    }

}
</script>
