@model ActivitySystem.Models.tblUsers
<script>
     @{
        if (@ViewData["Successful"] != null)
        {
            <Text>
            var result = '@Html.Raw(ViewData["Successful"])';
            Swal.fire(result,'','success')
            .then(
            function () {
            window.location.href = '@Url.Action("Index", "Admin")';
            }
            );
            </Text>
        }
        else if (@ViewData["Falied"] != null)
        {
            <Text>
            var result = '@Html.Raw(ViewData["Falied"])';
            Swal.fire(result, '', 'error');
            </Text>
        }
    }
</script>
<div class="card">
    <div class="card-header">
        <h3>User Profile</h3>
    </div>
   
    <div class="card-body">

        <form asp-action="ModifyUserInfo" id="form">
            <div class="row">
                <div class="col-md-6">
                    <label class="col-form-label">Full Name</label>
                    <input type="text" asp-for="Name" class="form-control">
                    <input type="text" hidden asp-for="GuId" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label class="col-form-label">E-Mail</label>
                    <input type="text" asp-for="KfuEmail" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="col-form-label">Role Name</label>
                    <select class="form-control custom-select" asp-items="ViewBag.RoleId" asp-for="RoleId"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="col-form-label">College</label>
                    <select class="form-control custom-select" asp-items="ViewBag.CollegeId" asp-for="CollegeId"></select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12 " style="text-align: left;">
                    <button type="submit" class="btn btn-dark btn-search" onclick=" return Valdation()"> Edit </button>
                </div>
            </div>
        </form>
    </div>
</div>
