@model IEnumerable<tblRegisterations>
<script>
                @{
                if (@ViewData["Successful"] != null)
                {
                    <Text>
                    var result = '@Html.Raw(ViewData["Successful"])';
                    Swal.fire(result,'','success')
                        .then(
                            function () {
                                window.location.href = '@Url.Action("Index", "Instructor")';
                            }
                        );
                    </Text>
                }
                else if (@ViewData["Falied"] != null && ViewData["NoRedirect"] == null)
                {
                    <Text>
                    var result = '@Html.Raw(ViewData["Falied"])';
                    Swal.fire(result, '', 'error')
                        .then(
                            function () {
                                window.location.href = '@Url.Action("Index", "Instructor")';
                            }
                        );
                    </Text>
                    }
                    
            }
</script>

<div class="card-body">
    <div class="row justify-content-center ">
        <div class="col-lg-10">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Activity Name</th>
                        <th>Student Name</th>
                        <th>Student KFU Email</th>
                        <th>Status</th>
                        <th>Approve/Deny</th>
                    </tr>
                </thead>
                <tbody>
                    @{ var i = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@i </td>
                                <td>@item.Activity.ActivityName</td>
                                <td>@item.User.Name</td>
                                <td>@item.User.KfuEmail</td>
                                <td>@item.StatusReg.StatusName</td>
                                <td>
                                    @if (item.Activity.RegisterStartDate < DateTime.Now && item.Activity.RegisterEndDate > DateTime.Now)
                                    {
                                        if (item.StatusRegId != 2)
                                        {
                                        <a asp-controller="Instructor" asp-action="ChangeStatus" asp-route-id="@item.GuId" asp-route-status="Approve" class="btn btn-outline-success">Approve </a>}
                                    
                                    <a asp-controller="Instructor" asp-action="ChangeStatus" asp-route-id="@item.GuId" asp-route-status="Deny" class="btn btn-outline-danger">Deny</a>}
                                </td>
                            </tr>
                            i++;
                        } }
                </tbody>
            </table>
        </div>
    </div>
</div>
