@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@model ActivitySystem.Models.tblUsers
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Forgat Password</title>
    <script>
                @{
                if (@ViewData["Successful"] != null)
                {
                    <Text>
                    var result = '@Html.Raw(ViewData["Successful"])';
                    Swal.fire(result,'','success')
                        .then(
                            function () {
                                window.location.href = '@Url.Action("LogIn", "Account")';
                            }
                        );
                    </Text>
                }
                else if (@ViewData["Falied"] != null && ViewData["NoRedirect"] == null)
                {
                    <Text>
                    var result = '@Html.Raw(ViewData["Falied"])';
                    Swal.fire(result, '', 'error')
                    </Text>
                    }
            }
    </script>
</head>
<body>
    <div class="card-body">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Forgat Password</h3></div>
                        <div class="card-body">
                            <form asp-action="ForgatPassword" id="form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-form-label">New Password</label>
                                        <input type="password" asp-for="Password" class="form-control" id="password">
                                        <input hidden type="text" asp-for="GuId" readonly class="form-control">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-form-label">Confirm Password</label>
                                        <input type="password" class="form-control" id="confirm_password">
                                        <div style="margin-top: 7px;" id="CheckPasswordMatch"></div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12 " style="text-align: left;">
                                        <button type="submit" id="submit" class="btn btn-dark btn-search" onclick="return Valdation()"> Save </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    $(function () {
        $("#submit").click(function () {
            var password = $("#password").val();
            var confirmPassword = $("#confirm_password").val();
            if (password != confirmPassword) {
                $("#CheckPasswordMatch").html("Password does not match !").css("color", "red");
                return false;
            }
        });
    });
</script>