@*<head>
        <script src="~/js/Validation.js"></script>
    </head>
    <form id="form">
        <div class="row">
            <div class="col-md-4">
                <label class="col-form-label"> Start Date of the Activity</label>
                <input type="date" id="StartDate" class="form-control" />
            </div>

            <div class="col-md-4">
                <label class="col-form-label">End Date of the Activity</label>
                <input type="date" id="EndDate" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="col-form-label"> Start Date of Registeration to the Activity</label>
                <input type="date" class="form-control" id="RegisterStartDate" />
            </div>
            <div class="col-md-4">
                <label class="col-form-label">End Date of Registeration to the Activity</label>
                <input type="date" class="form-control" id="RegisterEndDate" />
            </div>
            <div style="margin-top: 7px;" id="CheckDate"></div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <button type="submit" id="submit" class="btn btn-dark btn-search" onclick="return Valdation()"> Save </button>
            </div>
        </div>
    </form>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#submit").click(function () {

                var RegisterStartDate = $("#RegisterStartDate").val();
                var RegisterEndDate = $("#RegisterEndDate").val();
                var StartDate = $("#StartDate").val();
                var EndDate = $("#EndDate").val();


                if (new Date(RegisterStartDate).getTime() >= new Date(RegisterEndDate).getTime()) {
                    $("#CheckDate").html("Registeration start date can't be higher than registeration end date").css("color", "red");
                    return false;
                }
                else if (new Date(StartDate).getTime() >= new Date(EndDate).getTime()) {
                    $("#CheckDate").html("Start date can't be higher than end date").css("color", "red");
                    return false;
                }
                else if (new Date(StartDate).getTime() <= new Date(RegisterStartDate).getTime()) {
                    $("#CheckDate").html("Registeration start date can't be higher than start date").css("color", "red");
                    return false;
                }
                else if (new Date(StartDate).getTime() <= new Date(RegisterEndDate).getTime()) {
                    $("#CheckDate").html("Registeration end date can't be higher than start date").css("color", "red");
                    return false;
                }
                else if (new Date(EndDate).getTime() < new Date(RegisterStartDate).getTime()) {
                    $("#CheckDate").html("Registeration start date can't be higher than end date").css("color", "red");
                    return false;
                }
                else if (new Date(EndDate).getTime() < new Date(RegisterEndDate).getTime()) {
                    $("#CheckDate").html("Registeration End date can't be higher than end date").css("color", "red");
                    return false;
                }
                $("#CheckDate").html("").css("color", "red");
                return true;
            });
        });
    </script>*@


@{
    Layout = null;
}

@*<div class="card">
        <div class="container">
            <div class="row" style="margin-top: 124px;">
                <div class="card-header">
                    <h3>Activate User</h3>
                </div>
                <div class="border-0 shadow-lg">
                    <div class="card-body">

                        <div class="col-md-6">
                            <form asp-action="ActivateAccount" id="form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-form-label">Full Name</label>
                                        <input type="text" asp-for="Name" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-form-label">KFU Email</label>
                                        <input type="text" readonly asp-for="KfuEmail" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-form-label">CollegeName</label>
                                        <input type="text" readonly asp-for="College.CollegeName" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-form-label">New Password</label>
                                        <input type="password" asp-for="Password" class="form-control" id="password">
                                        <input hidden type="text" asp-for="GuId" readonly class="form-control">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-form-label">Confirm Password</label>
                                        <input type="password" name="ConfirmedPassword" class="form-control" id="confirm_password">
                                        <div style="margin-top: 7px;" id="CheckPasswordMatch"></div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12 " style="text-align: left;">
                                        <button type="submit" class="btn btn-dark btn-search" onclick="return Valdation()"> Activate </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
@model ActivitySystem.Models.tblUsers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/assets/demo/chart-area-demo.js"></script>
    <script src="~/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="~/js/datatables-simple-demo.js"></script>
    <link href="~/lib/sweetalert2/sweetalert2.css" rel="stylesheet" />
    <script src="~/lib/sweetalert2/sweetalert2.js"></script>
    <title>Forgat Password</title>
    <script>
                @{
                if (@ViewData["Successful"] != null)
                {
                    <Text>
                    var result = '@Html.Raw(ViewData["Successful"])';
                    Swal.fire(result,'','success')
                        .then(
                            function () {
                                window.location.href = '@Url.Action("LogIn", "Account")';
                            }
                        );
                    </Text>
                }
                else if (@ViewData["Falied"] != null && ViewData["NoRedirect"] == null)
                {
                    <Text>
                    var result = '@Html.Raw(ViewData["Falied"])';
                    Swal.fire(result, '', 'error')
                    </Text>
                    }
            }
    </script>
</head>
<body>
    <div class="card-body">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Activate</h3></div>
                        <div class="card-body">
                            <form asp-action="ForgatPassword" id="form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-form-label">New Password</label>
                                        <input type="password" asp-for="Password" class="form-control">
                                        <input hidden type="text" asp-for="GuId" readonly class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-form-label">Confirm Password</label>
                                    <input type="password" name="ConfirmedPassword" class="form-control">
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12 " style="text-align: left;">
                                        <button type="submit" class="btn btn-dark btn-search" onclick="return Valdation()"> Save </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#submit").click(function () {
            var password = $("#password").val();
            var confirmPassword = $("#confirm_password").val();
            if (password != confirmPassword) {
                $("#CheckPasswordMatch").html("Password does not match !").css("color", "red");
                return false;
            }
        });
    });
</script>
